<div class="card mt-4">
    <h4 class="card-header">Technician</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by technicians</u>.</p>
        <p class="mb-1">All users from secure (technicians only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="user$ | async as user">
          <li>{{ user.id }} {{ user.fullName }} {{ user.mail }} {{ user.username }} {{ user.role }}</li>
        </ul>
    </div>
</div>