<div class="wrap">
    <div class="card" *ngFor="let equipment of equipments">
      <!-- Background image of the card -->
      <img [src]="getImageUrl(equipment.photoUrl)" class="card__image" alt="Card Background Image" />
      
      <!-- Equipment name and availability section -->
      <div class="equipment-header">
        <h2 class="equipment-name">{{ equipment.name }}</h2>
      </div>
      <div class="options-menu" *ngIf="hasRole([Role.ADMIN])">
        <button class="menu-button">
            <i class='bx bx-dots-vertical-rounded'></i>
        </button>
        <div class="menu-content" *ngIf="hasRole([Role.ADMIN])">
            <button class="menu-item" [routerLink]="['/dashboard/equipments/edit', equipment.id]">
                <i class='bx bx-edit'></i> Edit
            </button>                    
            <button *ngIf="equipment.status === 'OUT_OF_SERVICE'" class="menu-item"  (click)="OnDelete(equipment.id)">
                <i class='bx bx-trash'></i> Delete
            </button>
        </div>
    </div>
  
      <!-- Card overlay content -->
      <div class="card__overlay">
        <!-- User info section or action buttons based on conditions -->
        <div class="card__header" >
          <img *ngIf="equipment.client && equipment.status === 'IN_SERVICE' && hasRole([Role.ADMIN])" class="card__thumb" [src]="getImageUrl(equipment.client.avatarUrl)"  alt="User Avatar" />
          <div class="card__header-text" *ngIf="equipment.client && equipment.status === 'IN_SERVICE' && hasRole([Role.ADMIN])">
            <h3 class="card__title">{{ equipment.client.fullName }}</h3>
            <span class="card__status">Joined on: {{ equipment.client.joinedDate | date }}</span>
          </div>
          
          <!-- Action buttons based on conditions -->
          <div class="action-buttons" *ngIf="hasRole([Role.ADMIN]) && equipment.status === 'AVAILABLE'">
            <button class="button-assign" (click)="openAssignPopup(equipment.id)">
              <i class='bx bx-user-plus'></i> Assign
            </button>
          </div>

          <div class="action-buttons" *ngIf="equipment.status === 'IN_SERVICE' && hasRole([Role.CLIENT])">
            <button class="button-assign" (click)="openReportPopup(equipment)">
              <i class='bx bx-plus'></i> Report
            </button>
          </div>
          
          <div class="action-buttons" *ngIf="equipment.status === 'BROKEN_DOWN' && hasRole([Role.ADMIN, Role.CLIENT])">
            <button class="button-track-status">
              <i class='bx bx-trending-up'></i> Track Status
            </button>
          </div>
          
          <!-- Availability status -->
          <span class="equipment-availability"
                [ngClass]="{
                    'background-available': equipment.status === 'AVAILABLE',
                    'background-in-service': equipment.status === 'IN_SERVICE',
                    'background-out-of-service': equipment.status === 'OUT_OF_SERVICE',
                    'background-broken-down': equipment.status === 'BROKEN_DOWN'
                }">
            <span *ngIf="equipment.status === 'AVAILABLE'">Available</span>
            <span *ngIf="equipment.status === 'IN_SERVICE'">In Service</span>
            <span *ngIf="equipment.status === 'OUT_OF_SERVICE'">Out of Service</span>
            <span *ngIf="equipment.status === 'BROKEN_DOWN'">Broken Down</span>
          </span>
        </div>
        
        <!-- Equipment details -->
        <p class="card__description">
            <i class='bx bx-cube'></i> <strong>Model:</strong> {{ equipment.model ?? 'N/A' }}<br />
            <i class='bx bx-hash'></i> <strong>Serial Number:</strong> {{ equipment.serialNumber ?? 'N/A' }}<br />
            <i class='bx bx-category'></i> <strong>Category:</strong> {{ equipment.category ?? 'N/A' }}<br />
            <i class='bx bx-dollar'></i> <strong>Purchase Price:</strong> {{ equipment.purchasePrice ?? 'N/A' | currency }}<br />
            <i class='bx bx-calendar'></i> <strong>Purchase Date:</strong> {{ equipment.purchaseDate ? (equipment.purchaseDate | date: 'MMMM d, yyyy') : 'N/A' }}<br />
          </p>
          
      </div>
    </div>
  </div>
  <app-assign-equipment-popup
  *ngIf="isPopupOpen && hasRole([Role.ADMIN])"
  [equipmentId]="selectedEquipmentId"
  (close)="closeAssignPopup()">
</app-assign-equipment-popup>

<app-report-breakdown-popup
  *ngIf="isReportPopupOpen"
  [equipment]="selectedEquipment"
  (close)="closeReportPopup()">
</app-report-breakdown-popup>