<nav [class.sidebar-closed]="!isSidebarOpen" *ngIf="user$ | async as user">
    <div class="tracking">
      {{ currentPath | breadcrumb }}
    </div>
  
    <div class="search-bar">
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Search for anything...">
    </div>
  
    <div class="nav-right">
      <div class="dropdown-notification">
        <button class="nav-item" title="Notifications"><i class='bx bxs-bell'></i></button>
        <div class="notification-menu">
          <div class="notification-item">
            <i class='bx bx-envelope'></i>
            <span>New message from John</span>
          </div>
          <div class="notification-item">
            <i class='bx bx-error'></i>
            <span>System alert: Update required</span>
          </div>
          <div class="notification-item">
            <i class='bx bx-like'></i>
            <span>Your post has been liked</span>
          </div>
        </div>
      </div>
  
      <div class="dropdown-settings">
        <button class="nav-item" title="Paramètres"><i class='bx bx-cog'></i></button>
        <div class="settings-menu">
          <!-- Settings Options -->
          <div class="settings-item">
            <i class='bx bx-user'></i>
            <span>Profile</span>
          </div>
          <div class="settings-item">
            <i class='bx bx-lock'></i>
            <span>Privacy</span>
          </div>
          <div class="settings-item">
            <i class='bx bx-help-circle'></i>
            <span>Help</span>
          </div>
          <div class="settings-item">
            <i class='bx bx-log-out'></i>
            <span>Logout</span>
          </div>
        </div>
      </div>
  
      <div class="dropdown">
        <button><i class='bx bx-menu'></i></button>
        <div class="menu">
          <button *ngIf="hasRole([Role.ADMIN, Role.CLIENT, Role.TECHNICIAN])">
            <i class='bx bxs-user'></i>
            <span>Profile</span>
          </button>
          <button *ngIf="hasRole([Role.ADMIN, Role.CLIENT])">
            <i class='bx bxs-plus-circle'></i>
            <span>New ticket</span>
          </button>
          <button *ngIf="hasRole([Role.ADMIN])">
            <i class='bx bx-laptop'></i>
            <span>New equipment</span>
          </button>
          <button *ngIf="hasRole([Role.CLIENT])">
            <i class='bx bx-laptop'></i>
            <span>Mes equipments</span>
          </button>
          <button *ngIf="hasRole([Role.CLIENT, Role.TECHNICIAN])">
            <i class='bx bx-list-ul'></i>
            <span>Mes tickets</span>
          </button>
          <button *ngIf="hasRole([Role.ADMIN])">
            <i class='bx bx-book'></i>
            <span>New breakdown</span>
          </button>
          <button *ngIf="hasRole([Role.ADMIN])">
            <i class='bx bxs-user-plus'></i>
            <span>New user</span>
          </button>
          <button *ngIf="hasRole([Role.ADMIN, Role.CLIENT, Role.TECHNICIAN])">
            <i class='bx bx-help-circle'></i>
            <span>Help</span>
          </button>
        </div>
      </div>
  
      <div class="user-profile">
        <img 
        [src]="getImageUrl(user.avatarUrl)"
        alt="user"
      />
      </div>
    </div>
  </nav>
  