<main>
  <div #loginContainer class="login-container">
    <p *ngIf="loginError" class="error-message">{{ loginError }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [appErrorHighlight]="!!loginError">
        <label for="username">Username:</label>
        <input id="username" formControlName="username" type="text" placeholder="Your username"
               />
      </div>
      <div class="form-group" [appErrorHighlight]="!!loginError">
        <label for="password">Password:</label>
        <div class="password-input-toggle">
          <input #passwordInput id="password" formControlName="password" type="password"
                 placeholder="Your password"
                 [appHideShowPassword]="passwordInput" [appHideShowPasswordButton]="passwordButton"/>
          <button #passwordButton type="button" [appHideShowPassword]="passwordInput"
                  [appHideShowPasswordIcon]="passwordIcon" class="password-toggle-btn" style="display: none;">
            <img #passwordIcon src="/assets/hidden.png" alt="Toggle password visibility"
                 style="cursor: pointer;" />
          </button>
        </div>
      </div>
      <div class="remembre">
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <p>Remembre me</p>
    </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <a routerLink="/signup">Don't have an account? Sign up</a>
    </form>
  </div>
  <div *ngIf="showSuccessAnimation" class="success-animation">
    <img src="/assets/favicon.ico" alt="Company Logo" />
    <div class="success-message">Login Successful! Redirecting</div>
  </div>
</main>
