main{
  width: 100%;
  height: 100%;
}
.login-container {
    width: 100%;
    height: 100%;
  }
  
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0;
  }
  
  label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 700;
  }
  
  input {
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 100%;
    outline: none;
    color: white;
  }
  input::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff83;
    opacity: 50px; 
  }
  button {
    padding: 0.7em;
    color: #ffffff;
    background-color: #0075FF;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin: 25px 0;
  }
  
  button:disabled {
    background-color: #0055cc37;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 20px; 
    height: 12px; 
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px; 
    bottom: 1px; 
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(8px); 
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
  
  .slider.round {
    border-radius: 12px; 
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .remembre{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
  .remembre p{
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -1px;
  }

  a{
    padding-left: 30%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  .password-input-toggle{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .password-toggle-btn {
    width: 50px;
    height: 100%;
    bottom: -23px;
    right: 0px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

.password-toggle-btn img {
    width: 20px;
    height: 20px;
}
.error-message {
  color: red;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0;
  
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.success-animation {
  animation: fadeInZoom 1s forwards;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 17%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.success-animation img {
  width: 50px;
  height: auto;
  animation: rotate 2s linear infinite;
}

@keyframes dots {
  0% { content: ''; }
  20% { content: '.'; }
  40% { content: '..'; }
  60% { content: '...'; }
  80% { content: '..'; }
  100% { content: '.'; }
}

.success-message {
  font-size: 1rem;
  margin-top: 1rem;
  color: white;
  position: relative;
}

.success-message::after {
  content: '';
  display: inline-block;
  animation: dots 1.5s steps(5, end) infinite;
}