.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-content {
    display: flex;
    flex: 1;
  }
  
  .main-content {
    padding: 20px;
    width: 78.7%;
    transition: margin-left 0.5s ease;
    margin-top: 60px;
    margin-left: 184px; 
  }
  
  app-sidebar:not(.open){
    margin-left: 78px; 
  }