main {
    width: 100%;
    height: 100%;
  }
  
  .login-container {
    width: 100%;
    height: 100%;
  }
  
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
  }
  
  .form-group.row {
    flex-direction: row;
    align-items: center;
  }
  
  .form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
  }
  
  .form-field:last-child {
    margin-right: 0;
  }
  
  label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 700;
  }
  
  input {
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 100%;
    outline: none;
    color: white;
  }
  
  input::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff83;
    opacity: 0.5;
  }
  
  button {
    padding: 0.7em;
    color: #ffffff;
    background-color: #0075FF;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin: 15px 0;
  }
  
  button:disabled {
    background-color: #0055cc37;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
  
  .slider.round {
    border-radius: 12px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .remembre {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .remembre p {
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -1px;
  }
  
  a {
    padding-left: 30%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  
  .password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  
  .password-strength-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 70%;
  }
  
  .progress-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .progress {
    height: 8px;
    border-radius: 5px;
    position: relative;
    width: 80%; 
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s;
  }
  
  .progress-bar.none {
    background-color: #ccc;
  }
  
  .progress-bar.low {
    background-color: #ff4d4d;
  }
  
  .progress-bar.medium {
    background-color: #ffcc00;
  }
  
  .progress-bar.strong {
    background-color: #4caf50;
  }
  
  .progress-label {
    font-size: 12px;
    color: white;
    padding-right: 5px;
    text-align: end;
    width: 20%;
  }
  .password-input-toggle{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .password-toggle-btn {
    width: 50px;
    height: 100%;
    bottom: -14px;
    right: 0px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

.password-toggle-btn img {
    width: 20px;
    height: 20px;
}
  